<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computer_science">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="공동기기 관리 어플"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RentActivity"></activity>
        <activity android:name=".Barcode"></activity>
        <activity android:name=".back"></activity>
        <activity android:name=".extension"></activity>
        <activity android:name=".rent_check"></activity>
        <activity android:name=".extension_check"></activity>
        <activity android:name=".DeleteActivity"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".Search_Check"></activity>
        <activity android:name=".UpdateActivity"></activity>
        <activity android:name=".qr.CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
    </application>

</manifest>